@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Take a look through our course catalog:</h1>

<div class="container">
    <div class="card-deck mb-3 text-center">
        @{ 
            foreach (var item in ViewData.Model) {
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h4 class="card-title">@item.ClassName</h4>
                        <p class="card-text">@item.ClassDescription</p>
                        <p class="card-text">@item.ClassDate</p>
                        @if(Session["StudentName"] != null)
                        {

                        <form method="post" action="/Classes/Register">
                            <input type="hidden" name="ClassName" value="@item.ClassName" />
                            <input type="hidden" name="ClassDescription" value="@item.ClassDescription" />
                            <input type="hidden" name="ClassDate" value="@item.ClassDate" />
                            <input type="hidden" name="ClassId" value="@item.ClassId" />
                            <input type="submit" class="btn btn-default" value="Register">
                        </form>
                            
                        }
                        
                    </div>
                </div>
            };
        }
        
    </div>
</div>